<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.AdoptInfoMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.AdoptInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="petname" column="petName" jdbcType="VARCHAR"/>
            <result property="variety" column="variety" jdbcType="CHAR"/>
            <result property="petSex" column="pet_sex" jdbcType="CHAR"/>
            <result property="petStatus" column="pet_status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="describe" column="describe" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,petName,
        variety,pet_sex,pet_status,
        create_time,update_time,`describe`,phone
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from adopt_info
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <select id="findAll" resultType="cn.jasonone.bean.AdoptInfo">
        select   <include refid="Base_Column_List" /> from adopt_info
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from adopt_info
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.AdoptInfo" useGeneratedKeys="true">
        insert into adopt_info
        (username,petName
        ,variety,pet_sex,pet_status
        ,create_time,update_time,`describe`,phone
        )
        values (#{username,jdbcType=VARCHAR},#{petname,jdbcType=VARCHAR}
        ,#{variety,jdbcType=CHAR},#{petSex,jdbcType=CHAR},#{petStatus,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{describe,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.AdoptInfo" useGeneratedKeys="true">
        insert into adopt_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="username != null">username,</if>
                <if test="petname != null">petName,</if>
                <if test="variety != null">variety,</if>
                <if test="petSex != null">pet_sex,</if>
                <if test="petStatus != null">pet_status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="describe != null">`describe`,</if>
                <if test="phone != null">phone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="petname != null">#{petname,jdbcType=VARCHAR},</if>
                <if test="variety != null">#{variety,jdbcType=CHAR},</if>
                <if test="petSex != null">#{petSex,jdbcType=CHAR},</if>
                <if test="petStatus != null">#{petStatus,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="describe != null">#{describe,jdbcType=VARCHAR},</if>
                <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.AdoptInfo">
        update adopt_info
        <set>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="petname != null">
                    petName = #{petname,jdbcType=VARCHAR},
                </if>
                <if test="variety != null">
                    variety = #{variety,jdbcType=CHAR},
                </if>
                <if test="petSex != null">
                    pet_sex = #{petSex,jdbcType=CHAR},
                </if>
                <if test="petStatus != null">
                    pet_status = #{petStatus,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="describe != null">
                    `describe` = #{describe,jdbcType=VARCHAR},
                </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.AdoptInfo">
        update adopt_info
        set 
            username =  #{username,jdbcType=VARCHAR},
            petName =  #{petname,jdbcType=VARCHAR},
            variety =  #{variety,jdbcType=CHAR},
            pet_sex =  #{petSex,jdbcType=CHAR},
            pet_status =  #{petStatus,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            `describe` =  #{describe,jdbcType=VARCHAR},
            phone =  #{phone,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
