<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="issueId" column="issue_id" jdbcType="INTEGER"/>
            <id property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,create_time,
        user_id
    </sql>

    <insert id="insert" parameterType="cn.jasonone.bean.Comment">
        insert into comment
            ( issue_id,comment_id,content,comment_name)
        values (#{issueId,jdbcType=INTEGER},#{commentId,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},
                #{commentName,jdbcType=VARCHAR})
    </insert>

    <select id="selectAllByIssueIdCommentList" resultType="cn.jasonone.bean.Comment">
        select * from comment where issue_id = #{issueId,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from comment
        where  id = #{id,jdbcType=INTEGER} 
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from comment
        where  id = #{id,jdbcType=INTEGER} 
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.Comment" useGeneratedKeys="true">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="content != null">content,</if>
                <if test="createTime != null">create_time,</if>
                <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="content != null">#{content,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.Comment">
        update comment
        <set>
                <if test="content != null">
                    content = #{content,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.Comment">
        update comment
        set 
            content =  #{content,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            user_id =  #{userId,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
