<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.PetInfoMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.PetInfo">
            <id property="petId" column="pet_id" jdbcType="INTEGER"/>
            <result property="petName" column="pet_name" jdbcType="VARCHAR"/>
            <result property="variety" column="variety" jdbcType="CHAR"/>
            <result property="petSex" column="pet_sex" jdbcType="CHAR"/>
            <result property="petStatus" column="pet_status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        pet_id,pet_name,variety,
        pet_sex,pet_status,create_time,
        update_time,pet_picture
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pet_info
        where  pet_id = #{petId,jdbcType=INTEGER} 
    </select>
    <select id="findAllPet" resultType="cn.jasonone.bean.PetInfo">
        select * from pet_info
    </select>
    <select id="findSome" resultType="cn.jasonone.bean.PetInfo">
        select
        <include refid="Base_Column_List" />
        from pet_info
        <where>
            <if test="petName != null">pet_name like concat('%',#{petName},'%') </if>
            <if test="petStatus != null">and pet_status like concat('%',#{petStatus},'%')</if>

        </where>


    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete  from pet_info
        where  pet_id = #{petId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="pet_id" keyProperty="petId" parameterType="cn.jasonone.bean.PetInfo" useGeneratedKeys="true">
        insert into pet_info
        ( pet_id,pet_name,variety
        ,pet_sex,pet_status,pet_picture)
        values (#{petId,jdbcType=INTEGER},#{petName,jdbcType=VARCHAR},#{variety,jdbcType=CHAR}
        ,#{petSex,jdbcType=CHAR},#{petStatus,jdbcType=VARCHAR},#{petPicture,jdbcType=BLOB})
    </insert>
    <insert id="insertSelective" keyColumn="pet_id" keyProperty="petId" parameterType="cn.jasonone.bean.PetInfo" useGeneratedKeys="true">
        insert into pet_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="petId != null">pet_id,</if>
                <if test="petName != null">pet_name,</if>
                <if test="variety != null">variety,</if>
                <if test="petSex != null">pet_sex,</if>
                <if test="petStatus != null">pet_status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="petPicture != null">pet_picture,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="petId != null">#{petId,jdbcType=INTEGER},</if>
                <if test="petName != null">#{petName,jdbcType=VARCHAR},</if>
                <if test="variety != null">#{variety,jdbcType=CHAR},</if>
                <if test="petSex != null">#{petSex,jdbcType=CHAR},</if>
                <if test="petStatus != null">#{petStatus,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="petPicture != null">#{petPicture,jdbcType=BLOB},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.PetInfo">
        update pet_info
        <set>
                <if test="petName != null">
                    pet_name = #{petName,jdbcType=VARCHAR},
                </if>
                <if test="variety != null">
                    variety = #{variety,jdbcType=CHAR},
                </if>
                <if test="petSex != null">
                    pet_sex = #{petSex,jdbcType=CHAR},
                </if>
                <if test="petStatus != null">
                    pet_status = #{petStatus,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="petPicture != null">
                    pet_picture = #{petPicture,jdbcType=BLOB},
                </if>
        </set>
        where   pet_id = #{petId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.PetInfo">
        update pet_info
        set 
            pet_name =  #{petName,jdbcType=VARCHAR},
            variety =  #{variety,jdbcType=CHAR},
            pet_sex =  #{petSex,jdbcType=CHAR},
            pet_status =  #{petStatus,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            pet_picture =  #{petPicture,jdbcType=BLOB}
        where   pet_id = #{petId,jdbcType=INTEGER} 
    </update>
</mapper>
