<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.PetKnowledgeMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.PetKnowledge">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="description" column="description" />
            <result property="content" column="content" />
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="essayType" column="essayType" jdbcType="VARCHAR"/>
            <result property="picture" column="picture"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        description,content,create_time,essay_type,picture
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pet_knowledge
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="findAll" resultType="cn.jasonone.bean.PetKnowledge">
        select
        <include refid="Base_Column_List" />
        from pet_knowledge
    </select>
    <select id="selectByType" resultType="cn.jasonone.bean.PetKnowledge">
        select
        <include refid="Base_Column_List" />
        from pet_knowledge where essay_type=#{essayType}
    </select>
    <select id="selectByTime" resultType="cn.jasonone.bean.PetKnowledge">
        select
        <include refid="Base_Column_List" />
        from pet_knowledge order by create_time desc limit 4
    </select>
    <select id="createMessages" resultType="cn.jasonone.bean.PetKnowledge">
        select
        <include refid="Base_Column_List" />
        from pet_knowledge order by rand() limit 6
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pet_knowledge
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.PetKnowledge" useGeneratedKeys="true">
        insert into pet_knowledge
        ( title,author
        ,description,content,create_time,essay_type,picture
        )
        values (#{title,jdbcType=VARCHAR},#{author,jdbcType=VARCHAR}
        ,#{description},#{content},#{createTime,jdbcType=TIMESTAMP}
        ,#{essayType,jdbcType=VARCHAR},#{picture}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.PetKnowledge" useGeneratedKeys="true">
        insert into pet_knowledge
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="title != null">title,</if>
                <if test="author != null">author,</if>
                <if test="description != null">description,</if>
                <if test="content != null">content,</if>
                <if test="createTime != null">create_time,</if>
                <if test="essayType != null">essay_type,</if>
                <if test="picture != null">picture,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="author != null">#{author,jdbcType=VARCHAR},</if>
                <if test="description != null">#{description},</if>
                <if test="content != null">#{content},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="essayType != null">#{essayType,jdbcType=VARCHAR},</if>
                <if test="picture != null">#{picture},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.PetKnowledge">
        update pet_knowledge
        <set>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="author != null">
                    author = #{author,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="content != null">
                    content = #{content},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="essayType != null">
                    essay_Type =#{essayType,jdbcType=VARCHAR},
                </if>
                <if test="picture != null">
                    picture = #{picture},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.PetKnowledge">
        update pet_knowledge
        set 
            title =  #{title,jdbcType=VARCHAR},
            author =  #{author,jdbcType=VARCHAR},
            description =  #{description},
            content =  #{content},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            essay_Type =#{essayType,jdbcType=VARCHAR},
            picture = #{picture},
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
