<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.ShoppingCartMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.ShoppingCart">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="FLOAT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,
        quantity,price,created_at,
        updated_at,goods_name,goods_picture
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from shopping_cart
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="selectByUserId" resultType="cn.jasonone.bean.ShoppingCart">
        select
        <include refid="Base_Column_List" />
        from shopping_cart
        where  user_id = #{userId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from shopping_cart
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.ShoppingCart" useGeneratedKeys="true">
        insert into shopping_cart
        ( user_id,product_id
        ,quantity,price,goods_name,goods_picture
        )
        values (#{userId,jdbcType=INTEGER},#{productId,jdbcType=INTEGER}
        ,#{quantity,jdbcType=INTEGER},#{price,jdbcType=FLOAT},#{goodsName,jdbcType=VARCHAR},#{goodsPicture,jdbcType=BLOB}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.ShoppingCart" useGeneratedKeys="true">
        insert into shopping_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="productId != null">product_id,</if>
                <if test="quantity != null">quantity,</if>
                <if test="price != null">price,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="updatedAt != null">updated_at,</if>
                <if test="goodsName != null">goods_name,</if>
                <if test="goodsPicture != null">goods_picture,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="productId != null">#{productId,jdbcType=INTEGER},</if>
                <if test="quantity != null">#{quantity,jdbcType=INTEGER},</if>
                <if test="price != null">#{price,jdbcType=FLOAT},</if>
                <if test="createdAt != null">#{createdAt,jdbcType=TIMESTAMP},</if>
                <if test="updatedAt != null">#{updatedAt,jdbcType=TIMESTAMP},</if>
                <if test="goodsName != null">#{goodsName,jdbcType=VARCHAR},</if>
                <if test="goodsPicture != null">#{goodsPicture,jdbcType=BLOB},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.ShoppingCart">
        update shopping_cart
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="productId != null">
                    product_id = #{productId,jdbcType=INTEGER},
                </if>
                <if test="quantity != null">
                    quantity = #{quantity,jdbcType=INTEGER},
                </if>
                <if test="price != null">
                    price = #{price,jdbcType=FLOAT},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
                </if>
                <if test="goodsName != null">
                    goods_name = #{goodsName,jdbcType=VARCHAR},
                </if>
                <if test="goodsPicture != null">
                    goods_picture = #{goodsPicture,jdbcType=BLOB},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.ShoppingCart">
        update shopping_cart
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            product_id =  #{productId,jdbcType=INTEGER},
            quantity =  #{quantity,jdbcType=INTEGER},
            price =  #{price,jdbcType=FLOAT},
            created_at =  #{createdAt,jdbcType=TIMESTAMP},
            updated_at =  #{updatedAt,jdbcType=TIMESTAMP},
            goods_name =  #{goodsName,jdbcType=VARCHAR},
            goods_picture =  #{goodsPicture,jdbcType=BLOB}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
