<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.TransferInfoMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.TransferInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="petname" column="petName" jdbcType="VARCHAR"/>
            <result property="transferName" column="transfer_name" jdbcType="VARCHAR"/>
            <result property="transferCause" column="transfer_cause" jdbcType="VARCHAR"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="variety" column="variety" jdbcType="CHAR"/>
            <result property="petSex" column="pet_sex" jdbcType="CHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="petStatus" column="pet_status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,petName,
        transfer_name,transfer_cause,picture,
        variety,pet_sex,city,
        pet_status,create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from transfer_info
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <select id="findAll" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from transfer_info
    </select>


    <select id="selectStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from transfer_info where pet_status='未领养'
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from transfer_info
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.TransferInfo" useGeneratedKeys="true">
        insert into transfer_info
        ( title,petName
        ,transfer_name,transfer_cause,picture
        ,variety,pet_sex,city
        ,pet_status,create_time,update_time
        )
        values (#{title,jdbcType=VARCHAR},#{petname,jdbcType=VARCHAR}
        ,#{transferName,jdbcType=VARCHAR},#{transferCause,jdbcType=VARCHAR},#{picture,jdbcType=VARCHAR}
        ,#{variety,jdbcType=CHAR},#{petSex,jdbcType=CHAR},#{city,jdbcType=VARCHAR}
        ,#{petStatus,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.TransferInfo" useGeneratedKeys="true">
        insert into transfer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="title != null">title,</if>
                <if test="petname != null">petName,</if>
                <if test="transferName != null">transfer_name,</if>
                <if test="transferCause != null">transfer_cause,</if>
                <if test="picture != null">picture,</if>
                <if test="variety != null">variety,</if>
                <if test="petSex != null">pet_sex,</if>
                <if test="city != null">city,</if>
                <if test="petStatus != null">pet_status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="petname != null">#{petname,jdbcType=VARCHAR},</if>
                <if test="transferName != null">#{transferName,jdbcType=VARCHAR},</if>
                <if test="transferCause != null">#{transferCause,jdbcType=VARCHAR},</if>
                <if test="picture != null">#{picture,jdbcType=VARCHAR},</if>
                <if test="variety != null">#{variety,jdbcType=CHAR},</if>
                <if test="petSex != null">#{petSex,jdbcType=CHAR},</if>
                <if test="city != null">#{city,jdbcType=VARCHAR},</if>
                <if test="petStatus != null">#{petStatus,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.TransferInfo">
        update transfer_info
        <set>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="petname != null">
                    petName = #{petname,jdbcType=VARCHAR},
                </if>
                <if test="transferName != null">
                    transfer_name = #{transferName,jdbcType=VARCHAR},
                </if>
                <if test="transferCause != null">
                    transfer_cause = #{transferCause,jdbcType=VARCHAR},
                </if>
                <if test="picture != null">
                    picture = #{picture,jdbcType=VARCHAR},
                </if>
                <if test="variety != null">
                    variety = #{variety,jdbcType=CHAR},
                </if>
                <if test="petSex != null">
                    pet_sex = #{petSex,jdbcType=CHAR},
                </if>
                <if test="city != null">
                    city = #{city,jdbcType=VARCHAR},
                </if>
                <if test="petStatus != null">
                    pet_status = #{petStatus,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.TransferInfo">
        update transfer_info
        set 
            title =  #{title,jdbcType=VARCHAR},
            petName =  #{petname,jdbcType=VARCHAR},
            transfer_name =  #{transferName,jdbcType=VARCHAR},
            transfer_cause =  #{transferCause,jdbcType=VARCHAR},
            picture =  #{picture,jdbcType=VARCHAR},
            variety =  #{variety,jdbcType=CHAR},
            pet_sex =  #{petSex,jdbcType=CHAR},
            city =  #{city,jdbcType=VARCHAR},
            pet_status =  #{petStatus,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
