<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.TransferApplicationMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.TransferApplication">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="petname" column="petName" jdbcType="VARCHAR"/>
            <result property="transferName" column="transfer_name" jdbcType="VARCHAR"/>
            <result property="transferCause" column="transfer_cause" jdbcType="VARCHAR"/>
            <result property="petStatus" column="pet_status" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,petName,
        transfer_name,transfer_cause,pet_status,
        create_time,update_time,username
    </sql>

    <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from transfer_application
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="findAll" resultType="cn.jasonone.bean.TransferApplication">
        select   <include refid="Base_Column_List" /> from transfer_application
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from transfer_application
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.TransferApplication" useGeneratedKeys="true">
        insert into transfer_application
        ( title,petName
        ,transfer_name,transfer_cause,pet_status
        ,create_time,update_time,username)
        values (#{title,jdbcType=VARCHAR},#{petname,jdbcType=VARCHAR}
        ,#{transferName,jdbcType=VARCHAR},#{transferCause,jdbcType=VARCHAR},#{petStatus,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{username,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.jasonone.bean.TransferApplication" useGeneratedKeys="true">
        insert into transfer_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="title != null">title,</if>
                <if test="petname != null">petName,</if>
                <if test="transferName != null">transfer_name,</if>
                <if test="transferCause != null">transfer_cause,</if>
                <if test="petStatus != null">pet_status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="username != null">username,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="petname != null">#{petname,jdbcType=VARCHAR},</if>
                <if test="transferName != null">#{transferName,jdbcType=VARCHAR},</if>
                <if test="transferCause != null">#{transferCause,jdbcType=VARCHAR},</if>
                <if test="petStatus != null">#{petStatus,jdbcType=VARCHAR},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.TransferApplication">
        update transfer_application
        <set>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="petname != null">
                    petName = #{petname,jdbcType=VARCHAR},
                </if>
                <if test="transferName != null">
                    transfer_name = #{transferName,jdbcType=VARCHAR},
                </if>
                <if test="transferCause != null">
                    transfer_cause = #{transferCause,jdbcType=VARCHAR},
                </if>
                <if test="petStatus != null">
                    pet_status = #{petStatus,jdbcType=VARCHAR},
                </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.TransferApplication">
        update transfer_application
        set 
            title =  #{title,jdbcType=VARCHAR},
            petName =  #{petname,jdbcType=VARCHAR},
            transfer_name =  #{transferName,jdbcType=VARCHAR},
            transfer_cause =  #{transferCause,jdbcType=VARCHAR},
            pet_status =  #{petStatus,jdbcType=VARCHAR},
            username =  #{username,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
